.donut-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #F04A00 50%, #02344F 50%);
    outline: none;
    -webkit-transition: .2s;
    border-radius: 5px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 19px;
    background: #D9D9D9;
    cursor: pointer;
    border-radius: 3px;
  }
