.select__button__container {
    display: flex !important;
    justify-content: space-between !important;
}

.select__upload__button {
    background-color: #F04A00 !important;
    color: white !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: none !important;
}