.login__container{
    background: linear-gradient(135deg, #FFFFFF, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid blue;

}
.login__innercontainer {
    text-align: center;
    width: 626px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.h4__welcome{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    border: 2px solid yellow;
}

.login__form{
    display: inline-block;
    text-align: start;
    border: 2px solid gray;
}
.login_text_area{
    align-content: center;
    border-radius: 6px;
    margin-bottom: 35px;
    /* width:100%; */
    height:44px;
    width: 304px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #02344F;
    margin-top: 5px;
}

.login_textinput {
    font-family: 'Montserrat regular';
    font-size: 16px;
    border:none;
    outline: none;
    width: 100%;
    height: 100%; 
}

.login_textinput, .logintext_input:focus{
    /* margin-left: 1rem; */
    font-family: 'Montserrat regular';
    font-size: 16px;
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
}

.login__btn{
    margin-top: 40px;
    width: 304px;
    height:44px;
    border-radius: 6px;
    background: #F04A00;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 hsla(260, 14%, 91%, 0.7), 0 6px 20px 0 rgba(228, 223, 235, 0.9);
    cursor: pointer;
}

.login__login{
    display: inline-block;
    background: #FFFFFF;
    width: 495px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.10);
    padding-top: 10px;
    padding-bottom: 10px;
}

.login__link{
    color: #0707e4;
    font-size: 12px;
}

.login__label{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 16px;
    border: none;
    width: 80%;
}

.affirmation__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: -25px;
}

.login_remember_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.affirmation_Container .login_remember {
    font-size: 12px;
    margin-left: 5px;
}