.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
  }
  
  .paginate-page {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none; /* Remove underline */
  }
  
  .paginate-previous,
  .paginate-next {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
  }
  
  .paginate-previous,
  .paginate-next,
  .paginate-page.active {
    background-color: #F04A00;
    color: white;
    text-decoration: none;
  }
  
  .paginate-previous:hover,
  .paginate-next:hover,
  .paginate-page:hover {
    background-color: #F04A00;
    color: white;
  }
  